<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <h3 class="box-title">Dörediň baha</h3> </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="white-box p-0">
            <!-- .left-right-aside-column-->
            <div class="page-aside">
              <div class="right-aside">
                <div class="row">
                  <div class="col-sm-12 col-xs-12">
                      <div>
                        <div class="form-group">
                            <label class="exampleInputEmail1">Baha</label>
                            <div class="exampleInputEmail1">
                                <select [(ngModel)]="rating" class="form-control">
                                  <option value="-1" style="display: none;" disabled>Saklaň Baha</option>
                                  <option [value]="i" *ngFor="let i of ratingMas">{{i}}</option>
                                </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="exampleInputEmail1">Žurnal</label>
                            <div class="exampleInputEmail1">
                                <select [(ngModel)]="journalId" class="form-control">
                                  <option value="-1" style="display: none;" disabled>Saklaň Žurnal</option>
                                  <option [value]="i.id" *ngFor="let i of journals">{{i.groups.course}} {{i.groups.name}} {{i.teachers.name}} ({{i.subjects.name}})</option>
                                </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="exampleInputEmail1">Talyp</label>
                            <div class="exampleInputEmail1">
                                <select [(ngModel)]="studentsId" class="form-control">
                                  <option value="-1" style="display: none;" disabled>Saklaň Talyp</option>
                                  <option [value]="i.id" *ngFor="let i of students">{{i.name}}</option>
                                </select>
                            </div>
                          </div>
                          <button (click)="postRating()" type="submit" class="btn btn-success waves-effect waves-light m-r-10">Iber</button>
                        </div >
                  </div>
              </div>
              </div>
                <!-- .left-aside-column-->
            </div>
            <!-- /.left-right-aside-column-->
        </div>
    </div>
  </div>