<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <h3 class="box-title">Görmek Dersleri</h3> </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="white-box p-0">
            <div class="page-aside">
                <!-- /.left-aside-column-->
                <div class="right-aside">
                    <div class="right-page-header">
                    <h3>Dersleri </h3>
                    <div class="pull-right">
                        <input type="text" id="demo-input-search2" placeholder="gözlemek" class="form-control" [(ngModel)]="search">
                    </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="scrollable">
                        <div class="table-responsive">
                            <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Ady</th>
                                        <th>Kafedra</th>
                                        <th>Kafedra müdiri</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of subjects; let ind = index" [style]="isSearch(i.name)?'':'display: none'">
                                        <td>{{ind+1}}</td>
                                        <td>
                                            {{i.name}}
                                        </td>
                                        <td>
                                            {{i.departments?i.departments.name:'-'}}
                                        </td>
                                        <td>
                                            {{i.teacher?i.teacher.name:'-'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>