<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <h3 class="box-title">Dörediň talyplar</h3> </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="white-box p-0">
            <!-- .left-right-aside-column-->
            <div class="page-aside">
              <div class="right-aside">
                <div class="row">
                  <div class="col-sm-12 col-xs-12">
                      <div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">talyp ady</label>
                            <input [(ngModel)]="name" type="text" class="form-control" id="exampleInputEmail1" placeholder="talyp adyny giriziň">
                        </div>
                          <div class="form-group">
                            <label class="exampleInputEmail1">Topar</label>
                            <div class="exampleInputEmail1">
                                <select [(ngModel)]="groupsId" class="form-control">
                                  <option value="-1" style="display: none;" disabled>Saýlaň Topar</option>
                                  <option [value]="i.id" *ngFor="let i of groups">{{i.course}} {{i.name}}</option>
                                </select>
                            </div>
                          </div>
                          <button (click)="postStudent()" type="submit" class="btn btn-success waves-effect waves-light m-r-10">Iber</button>
                        </div >
                  </div>
              </div>
              </div>
                <!-- .left-aside-column-->
            </div>
            <!-- /.left-right-aside-column-->
        </div>
    </div>
  </div>